*.ckpt
*.pth

*.pyc
__pycache__/
*.egg-info/
outputs/
result/*
results/*
kitti_log/
checkpoints/
Depth_Anything_V2/assets/*
Depth_Anything_V2/assets/examples/
Depth_Anything_V2/assets/examples_video/
checkpoints/depth_anything_v2_vitb.pth

trained_models/*.ckpt
monoscene_output/*
core*
images
.vscode

__pycache__
.ipynb_checkpoints
